Version: 2.4.3
Source:com.github.Robert-Stackflow.CloudOTP
Section: x11
Priority: optional
Maintainer: Robert-Stackflow <yutuan.victory@gmail.com>
Standards-Version: 4.5.0
Essential: no
Homepage: https://github.com/Robert-Stackflow/CloudOTP
Package: CloudOTP
Architecture: amd64
Depends: libayatana-appindicator3-1, gir1.2-keybinder-3.0, libsecret-1-0, gir1.2-notify-0.7, sqlcipher
Description: An awesome two-factor authenticator which supports cloud backup.
  - Reconstructed based on Flutter architecture, supports Android and Windows
  - Support TOTP, HOTP, MOTP, Steam, Yandex
  - Supports scanning QR code to add, identify pictures, and manually enter keys
  - Supports custom icons and categories, supports sorting and multiple token layouts(Simple, Compact, List, Spotlight)
  - Supports dark mode, multiple languages, and multiple themes
  - Supports local backup and automatic backup, supports WebDav, Onedrive, Dropbox, S3 storage and other cloud backup methods
  - Supports import/export of encrypted files and URI lists
  - Supports importing data from Aegis, andOTP, Bitwarden, EntAuth, FreeOTP+, Google Authenticator, 2FAS, TOTP Authenticator, Winauth
  - Supports database encryption and gesture password