<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!--权限-->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="com.fingerprints.service.ACCESS_FINGERPRINT_MANAGER"/>
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="android:allowBackup">
        <!--机型适配-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <!--开屏-->
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Full">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <!--设置-->
        <activity android:name=".activity.settings.HelpActivity" />
        <activity android:name=".activity.settings.LogActivity" />
        <activity android:name=".activity.settings.FeedbackActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.ThemeActivity" />
        <activity android:name=".activity.settings.SettingsActivity" />
        <!--账号-->
        <activity android:name=".activity.user.InfoActivity" />
        <activity android:name=".activity.user.ChangePasswordActivity" />
        <activity
            android:name=".activity.user.LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Login" />
        <activity
            android:name=".activity.user.SignupActivity"
            android:launchMode="singleTask" />
        <!--通用-->
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.application.BookmarkActivity" />
        <activity android:name=".activity.passwordbox.PasswordboxActivity" />
        <activity android:name=".activity.passwordbox.PasswordboxSettingsActivity" />
        <activity android:name=".activity.passwordbox.PasswordGroupDetailActivity" />
        <activity android:name=".activity.passwordbox.CommonPasswordDetailActivity" />
        <activity android:name=".activity.passwordbox.AuthPasswordDetailActivity" />
        <activity android:name=".activity.passwordbox.BackupPasswordDetailActivity" />
        <activity android:name=".activity.TokenDetailActivity" />
        <activity android:name=".activity.SettingsActivity" />
        <activity android:name=".activity.ScanActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Full"
            tools:ignore="LockedOrientationActivity" />

        <provider
            android:name=".util.database.MyFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>
    </application>
</manifest>