name: animated_reorderable
description: A Flutter plugin that upgrades ListView or GridView to be animated and reorderable.
version: 1.1.0
homepage: https://github.com/igorkurilenko/animated_reorderable

environment:
  sdk: '>=3.1.5 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter: